[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gensim = "*"
scipy = "<1.13.0"
psycopg2 = "*"
numpy = "*"
pandas = "*"
nltk = "==3.9.4"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]


[requires]
python_version = "3.10"
